<div class="container">
  <h3 class="text-center">Add New Point of Contact</h3>
  <%= form_for([@student, @point_of_contact], url: student_point_of_contacts_path) do |f| %>
  <%= render :partial => 'point_of_contacts/shared/point_of_contact_form', :locals => {:f => f} %>
  <% end %>
</div>
