<%= form_tag(admin_import_students_path, :method => "post", multipart: true, id: "import-student", class: 'form-group row justify-content-center') do %>
  <div class="custom-file">
    <input type="file" name="csv_upload_file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <%= submit_tag "Upload CSV", class: 'btn btn-primary' %>
<%end%>

<button type="button" class="btn btn-primary">Sample CSV</button>