<div class="container">
  <h3 class="text-center">Edit Student</h3>
  <%= form_for(@resource, url: student_path(@resource)) do |f| %>
    <%= render :partial => 'students/shared/student_form', :locals => {:f => f} %>
  <% end %>
</div>
