<h3 class="text-center">Edit Student</h3>
  <%= form_for(@student, url: student_path(@student)) do |f| %>
    <%= render :partial => 'students/shared/student_form', :locals => {:f => f} %>
  <% end %>
