<h3 class="text-center">Edit Class</h3>
<%= form_for(@resource, url: admin_school_class_path(@resource)) do |f| %>
    <%= render :partial => 'admin/shared/school_class_form', :locals => {:f => f} %>
<% end %>
