<h3 class="text-center mt-5 mb-4">Add New Class</h3>
<div class="container">
<%= form_for(@resource, url: admin_school_classes_path) do |f| %>
    <%= render :partial => 'admin/shared/school_class_form', :locals => {:f => f} %>
<% end %>
</div>
