<div class="container">
  <div class="row justify-content-end mt-5 mb-4">
    <div class="col-6 offset-md-3">
      <h3 class="text-center">Manage Internship Supervisors</h3>
    </div>
    <div class="col-3 text-right">
      <%= link_to '<i class="fa fa-plus"></i> Add Internship Supervisor'.html_safe, new_internship_supervisor_path, class: 'btn btn-primary' %>
    </div>
  </div>

    <table class="table table-bordered">
      <thead class="table-primary">
        <tr>
          <th>Supervisor Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Internship Company</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <%= render partial: 'internship_supervisors/shared/internship_supervisor_row', collection: @resources, as: :supervisor %>
      </tbody>
    </table>
</div>
