<div class="container">
<h3 class="text-center mt-5 mb-4">Add New Internship Supervisor</h3>
<%= form_for(@resource, url: internship_supervisors_path) do |f| %>
	<%= render :partial => 'internship_supervisors/shared/internship_supervisor_form', :locals => {:f => f} %>
<% end %>
</div>
