<h3 class="text-center">Add New Internship Supervisor</h3>
<%= form_for(@internship_supervisor, url: internship_supervisors_path) do |f| %>
<%= render :partial => 'internship_supervisors/shared/internship_supervisor_form', :locals => {:f => f} %>
<% end %>
			