<h3 class="text-center mt-5 mb-4">Edit Class</h3>
<div class="container">
<%= form_for(@resource, url: school_class_path(@resource)) do |f| %>
    <%= render :partial => 'shared/school_class_form', :locals => {:f => f} %>
<% end %>
</div>
