/*
*= require chosen
*= require bootstrap-datepicker
*/

@import "bootstrap";
@import "font-awesome";

nav {
  margin-bottom: 10px;
}

[data-toggle="collapse"] {
  cursor: pointer;
}

[data-toggle="collapse"] i:before{
  content: "\f068";
}

[data-toggle="collapse"].collapsed i:before{
  content: "\f067";
}

.required-field:after{
   color: red;
   content: "*";
}
.student-profile {
  width: 150px;
}

.chosen-container {
  width: 100% !important;
}

.student-upload-button {
  position: relative;
  overflow: hidden;
}
.student-upload-button input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -ms-filter:'alpha(opacity=0)';
  cursor: pointer;
}
