<div class="container">
<h3 class="text-center mt-5 mb-4">Edit Medical condition</h3>
<%= form_for(@resource, url: medical_condition_path(@resource)) do |f| %>
    <%= render :partial => 'medical_conditions/shared/medical_condition_form', :locals => {:f => f} %>
<% end %>
</div>
