<div class="container">
  <div class="row justify-content-end mt-5 mb-4">
    <div class="col-6 offset-md-3">
      <h3 class="text-center">Manage Medical Conditions</h3>
    </div>
    <div class="col-3 text-right">
      <%= link_to '<i class="fa fa-plus"></i> Add Medical Condition'.html_safe, new_medical_condition_path, class: "btn btn-primary" %>
    </div>
  </div>

<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>Medical Condition</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white">
    <%= render partial: 'medical_conditions/shared/medical_condition_row', collection: @resources, as: :condition %>
  </tbody>
</table>
</div>
