<h3 class="text-center">Add New Medical Condition</h3>
<%= form_for(@resource, url: medical_conditions_path) do |f| %>
    <%= render :partial => 'medical_conditions/shared/medical_condition_form', :locals => {:f => f} %>
<% end %>
