<h3>Manage Student Attendance</h3>

<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>Reg. No</th>
      <th>Student Name</th>
      <th>Present</th>
      <th>Absent</th>
      <th>Late</th>
      <th>Reason</th>
      <th>Remark</th>
    </tr>
  </thead>
</table>
