<div class="container">
<h3 class="text-center mt-5 mb-4">Edit Disability</h3>
<%= form_for(@resource, url: disability_path(@resource)) do |f| %>
    <%= render :partial => 'disabilities/shared/disability_form', :locals => {:f => f} %>
<% end %>
</div>
