<h3 class="text-center">Add New Disability</h3>
<%= form_for(@resource, url: disabilities_path) do |f| %>
    <%= render :partial => 'disabilities/shared/disability_form', :locals => {:f => f} %>
<% end %>